{% extends 'layouts/base.html' %}
{% load container_extras %}
{#{% load djangocodemirror_tags %}#}

{% block stylesheets %}
    {#    <link href="/static/external/css/github-markdown.css" type="text/css" media="all" rel="stylesheet">#}
    {#    <link href="/static/django_monaco_editor/css/editor.css" type="text/css" media="all" rel="stylesheet">#}
    {#    <script src="/static/external/monaco-editor/min/vs/loader.js"></script>#}

{% endblock stylesheets %}

{% block title %} {{ container.container_image }} {% endblock title %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="card">

            </div>
        </div>
        <div class="col">
            <div class="card">
                <p>God is dead</p>
                editor code here
                <div id="editor">
/**
 * MapSearch.java
 * search for map traversal
 * 2013 version
 */

public class MapSearch extends Search {

    private final Carta map;    //map we're searching
    private final String goal;    //goal city

    /**
     * constructor takes map and goal city
     *
     * @param m map
     * @param g goal city
     */
    public MapSearch(Carta m, String g) {
        map = m;
        goal = g;
    }

    /**
     * accessor for map
     */
    public Carta getMap() {
        return map;
    }

    /**
     * accessor for goal city
     */
    public String getGoal() {
        return goal;
        }
    }
                </div>

                <p>God is still dead</p>
            </div>
        </div>

    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{#    <script src="/static/assets/js/code_display.js"></script>#}
    <script src="/static/assets/js/editor.bundle.js"></script>
{% endblock javascripts %}
