{% extends 'layouts/base.html' %}
{% load container_extras %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block title %} {{ container.container_image }} {% endblock title %}

{% block content %}
    <div class="header bg-primary pb-6">

        {# Alert messages   #}
        {% include 'includes/messages.html' %}

        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-light">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{% url 'challenges' %}">Challenges</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="#" class="btn btn-sm btn-neutral">New</a>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-sm-6">

                <!-- Active containers -->
                <div class="card">
                    <div class="card-header">
                        <h1 class="mb-0">{{ container }}</h1>
                    </div>
                    <div class="card-body">
                        <pre>
{{ container.container_image.detailed_description }}
                        </pre>
                    </div>


                </div>
            </div>
            <div class="col col-sm-6">

                <!-- Active containers -->
                <div id="editor-card" class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-1g-6 col-7">
                                <h1 class="mb-0">Editor</h1>
                            </div>
                            <div class="col-1g-6 col-5">
                                <div class="text-right">
                                    <a id="submit_code" class="btn btn-success">Submit</a>
                                    <form id="code_submission_form" name="code_submission_form" action="{% url 'challenge_submission' %}" method="post">
                                        {% csrf_token %}
                                        <input id="form_container" name="form_container" type="hidden" value="{{ container.slug }}">
                                        <input id="form_b64_code" name="form_b64_code" type="hidden" value="">
{#                                        <input class="btn btn-success" type="submit" name="submit" onclick="">#}
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id="editor" hidden="hidden">
                            {{ container.code|toBase64 }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="/static/assets/js/editor.bundle.js"></script>
{% endblock javascripts %}
