{% extends 'layouts/base.html' %}
{% load container_extras %}
{% load djangocodemirror_tags %}

{% block stylesheets %}
    {#    <link href="/static/external/css/github-markdown.css" type="text/css" media="all" rel="stylesheet">#}
    {#    <link href="/static/django_monaco_editor/css/editor.css" type="text/css" media="all" rel="stylesheet">#}
    {#    <script src="/static/external/monaco-editor/min/vs/loader.js"></script>#}

{% endblock stylesheets %}

{% block title %} {{ container.container_image }} {% endblock title %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="card">

            </div>
        </div>
        <div class="col">
            <div class="card">
                <p>God is dead</p>
                <form>
                    <textarea id="code" name="code">Lorem ipsum dolor sit amet.</textarea>
                </form>

                {% codemirror_instance 'restructuredtext' 'code_codemirror' 'code' %}

                <p>God is still dead</p>
            </div>
        </div>

    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="/static/assets/js/code_display.js"></script>
{% endblock javascripts %}
