<script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
{#<script> var require = {paths: {'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.3/min/vs'}};</script>#}
{##}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.3/min/vs/loader.min.js"#}
{#        integrity="sha512-NJELIeXomixK80wyX8/lAUtYiFmQA5wb9YSIA8yYV+sEQ21N7vvboDZn6+ZtAaELKwZbDKvokdnkq3ukBtzl5w=="#}
{#        crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.3/min/vs/editor/editor.main.nls.min.js"#}
{#        integrity="sha512-TWw8pIQqQjD4HVQASMckZbD7n8zaObIoTxX+/hsKMZXpLergFtYw59ZLBaJ2OvgcdK9g5xXtoeyPUX6paPMp6A=="#}
{#        crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.19.3/min/vs/editor/editor.main.js"#}
{#        integrity="sha512-zaBxUv0bGb20PN4yA0Z1jQWoU47qTgxUfpRea5v31Tdjk0+2FmUbnPjTv2i7ICk5JQEp0s9wEQ/v7/MmU9425w=="#}
{#        crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{##}

<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="/static/assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/static/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
