{% extends 'layouts/base.html' %}
{% load container_extras %}
{% load sizify %}
{% load progression_filters %}
{% load markdown %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <div class="header bg-primary pb-6">

        {# Alert messages   #}
        {% include 'includes/messages.html' %}

        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Learn</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a
                                        href="{% url 'learn' %}">Learn</a>
                                </li>
                                <li class="breadcrumb-item"><a
                                        href="{% url 'learn' %}#{{ object.exploit_type.slug }}">{{ object.exploit_type.slug|upper }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# Page content #}
    <div class="container-fluid mt--6">
        <div class="row justify-content-center">
            <div class="col-lg-8 card-wrapper">

                {# Card content goes here #}
                <div class="card">
                    <div class="card-header">
                        <h1 class="mb-0"> {{ object.title }}</h1>
                    </div>

                    <div class="card-body">
                        <p>{{ object.content | markdown | safe }}</p>
                    </div>
                </div>

                {% if object|completed_by:request.user %}
                    <a class="btn btn-info mb-5">Lesson already completed!</a>
                {% else %}
                    <a href="{% url 'complete_lesson' object.slug %}" class="btn btn-success mb-5" >Complete lesson</a>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
